.picture-viewer__container {
  position: relative;
  height: 540px;
  max-height: 75vh;
  max-width: 75vw;
  margin: 0;
  padding: 0;
}
  
@media (max-width: 767px) {
  .picture-viewer__container {
    height: 299px;
  }
}